---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

@charset "utf-8";

$font-base: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-secondary: "PT Serif", serif;
$font-monospace: "Ubuntu Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$vertical-rythm-small: 1.375rem;
$vertical-rythm-medium: 1.5rem;

// Color-Variables
$white: rgb(255,255,255);
$blue-dark: rgb(0, 18, 24);
$blue-middark: rgb(1, 34, 45);
$blue-base: rgb(21, 79, 98);
$blue-midlight: rgb(70, 125, 143);
$blue-light: rgb(168, 201, 212);
$orange-base: rgb(157, 94, 29);
$orange-light: rgb(189, 124, 59);

// Breakpoints
$media-breakpoint-medium: 700px;
$media-breakpoint-big: 990px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "style",
  "typography",
  "links",
  "lists",
  "layout",
  "header",
  "footer",
  "sections"
;
