---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$background-color: #FFFFFF;
$base-header-color: #808080;
$base-text-color: #424242;
$base-link-color: #FFCC80;
$base-link-hover: #FF9800;
$base-border-color: #EEEEEE;

$header-link-color: #607D8B;
$header-link-hover-color: #455A64;
$hero-text-color: #B0BEC5;

$highlight-color: #FF9800;

$background-color-footer: $hero-text-color;
$background-link-color: $header-link-color;
$background-link-hover: $header-link-hover-color;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body, * {
    padding: 0;
    margin: 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "bourbon/bourbon",
    "base/base",
    "layout",
    "style"
;
