---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Color-Variables
$light-gray: #DDDDDD;
$dark-gray: #333333;

$gray-lightest: #E5E4E4;
$gray-lighter: #B4B3B3;
$gray: #888888;
$gray-darker: #585858;
$gray-darkest: #181818;

$grayblue-lightest: #6A7A83;
$grayblue-lighter: #4D5F68;
$grayblue: #36464f;
$grayblue-darker: #1F3038;
$grayblue-darkest: #132732;

$orange-lightest: #FFC164;
$orange-lighter: #FFB039;
$orange: #FF9800;
$orange-darker: #C67600;
$orange-darkest: #9B5D00;

/// A variable that outputs a system font stack.
///
/// @link https://goo.gl/LHRZIf
///
/// @type list
///
/// @example scss
///   .element {
///     font-family: $font-stack-system;
///   }
///
///   // CSS Output
///   .element {
///     font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
///   }

$font-stack-system: (
  -apple-system,
  BlinkMacSystemFont,
  "Avenir Next",
  "Avenir",
  "Segoe UI",
  "Lucida Grande",
  "Helvetica Neue",
  "Helvetica",
  "Fira Sans",
  "Roboto",
  "Noto",
  "Droid Sans",
  "Cantarell",
  "Oxygen",
  "Ubuntu",
  "Franklin Gothic Medium",
  "Century Gothic",
  "Liberation Sans",
  sans-serif,
);

body, * {
    padding: 0;
    margin: 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "bourbon/bourbon",
    "base/base",
    "neat/neat",
    "layout",
    "style",
    "highlight",
    "components/site-header",
    "components/site-footer",
    "components/hero",
    "components/content",
    "components/skill",
    "components/timeline",
    "components/blog"
;
