---
layout: default
permalink: /
---

<section class="hero">
    <div class="hero-content-wrapper">
        <div class="hero-content">
            <p class="hero-left">Hi! I'm</p>
            <h1>Christian Deinert</h1>
            <p class="hero-right">Web- &amp; Software Developer from <a href="https://www.google.de/maps/place/Singen+(Hohentwiel)/@47.7568506,8.7973657,12z/data=!3m1!4b1!4m2!3m1!1s0x479a7d33fa8afe9f:0xa3f9f94099cb2cef" target="_blank" class="hero-link"><i class="fa fa-map-marker hero-link-icon"></i> Singen Htwl.</a></p>
        </div>
    </div>
    <div class="hero-bg"></div>
</section>

<section class="content-section">
    <div class="content-wrapper">
        <header>
            <h1>About</h1>
        </header>
        <div>
            <p>I used to focus on Backend Development with PHP, but now I'm also getting my hands dirty in the Front-End! Sometimes I also try myself on designing.</p>
            <p>Also I'm playing Handball, PC Games, I like to go mountain biking, am an amateur photographer and a fan of sciency things.</p>
        </div>
    </div>
</section>

<section class="content-section content-section-grayblue">
    <div class="content-wrapper">
        <header>
            <h1>What I can work with</h1>
        </header>
        <div class="skill-wrapper">
            {% for skill in site.data.informations.skills %}
            <div class="skill">
                <span class="skill-icon"><i class="{{ skill.icon }}" title="{{ skill.name }}"></i></span>
                <span class="skill-level">
                    {% for i in (1..5) %}
                    {% if i <= skill.level %}
                    <i class="fa fa-circle"></i>
                    {% else %}
                    <i class="fa fa-circle-thin"></i>
                    {% endif %}
                    {% endfor %}
                    <span class="skill-tooltip">{{ skill.description }}</span>
                </span>
            </div>
            {% endfor %}
        </div>

        <p>And I love to learn new things and to improve myself!</p>
    </div>
</section>
