---
layout: default
permalink: /resume
---

<h1 class="visually-hidden">
  Resume
</h1>

<section class="timeline">
  <header>
    <h2>Working Experience</h2>
  </header>
  <ul>
    {% for job in site.data.informations.work-history %}
      <li>
        <span>{{ job.time-from }} - {{ job.time-to }}</span>
        <h3>{{ job.job }}</h3>
        <p>{{ job.company }}</p>
        {% if job.description != '' %}
          <ul class="timeline__item__description">
            {% for item in job.description %}
              <li>
                {{ item }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

<hr />

<section class="timeline">
  <header>
    <h2>Education</h2>
  </header>
  <ul>
    {% for degree in site.data.informations.education %}
      <li>
        <span>{{ degree.time-from }} - {{ degree.time-to }}</span>
        <h3>{{ degree.degree }}</h3>
        <p>{{ degree.school }}</p>
        {% if degree.description != '' %}
          <ul class="timeline__item__description">
            <li>{{ degree.description }}</li>
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
