<header class="site-header">
    <nav>
        <div class="logo">ChDeinert</div>
        <ul id="menulist">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            {% for page in site.links %}
              {% if page.title %}
                  <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
        <div class="menuicon" id="menuicon">
            <span></span>
        </div>
    </nav>
</header>
