body
    height: 100%
    min-height: 100vh

.site-header
    min-height: 44px
    max-height: 44px
    border-top: 4px solid

main
    +margin(0)
    +padding(0)
    min-height: 80vh

.content
    &-section
        +margin(0)
        +padding(0)
    &-wrapper
        +margin(0 auto)
        +padding(120px 30px)
        max-width: 720px
        text-align: left
        +media($medium-screen)
            text-align: center

.site-footer
    +margin(0)
    +padding(30px)
    border-top: 1px solid

// section.hero
//     height: 80vh
//     border-bottom: 1px solid $base-border-color
//     overflow-y: hidden
//     +display(flex)
//     +align-items(center)
//     .wrapper
//         +padding(30px)
//         text-align: center
//         margin: auto
//         vertical-align: center
//         border: 0
//     header
//         margin: 0
//         p
//             margin: 0
//             padding: 0
//         h1
//             border:
//                 top: 3px solid $hero-text-color
//                 bottom: 3px solid $hero-text-color
//             margin: 30px 0
//             padding: 10px 30px
//     +media(510px)
//         .wrapper
//             +display(flex)
//             +justify-content(center)
//             +flex-direction(column)
//             +border-top-radius(5px)
//             +border-bottom-radius(5px)
//             +padding(30px)
//             text-align: center
//             margin: auto
//             vertical-align: center
//             border: 0
//         header
//             width: 450px
//             .hero-left
//                 text-align: left
//             .hero-right
//                 text-align: right
//
// section.content
//     +media(700px)
//         margin: 0 auto 90px
//     +media(510px)
//         text-align: center
//     margin: 0 auto 30px
//     padding: 30px 30px 60px
//     max-width: 600px
//     text-align: left
//     h1
//         margin: 30px
//         text-align: center
//     p.urgent
//         +padding(10px 0)
//
// .skill-area
//     +display(flex)
//     +justify-content(center)
//     +flex-direction(row)
//     +flex-wrap(wrap)
//     margin-bottom: 30px
//     +media(510px)
//         +justify-content(space-between)
//         .skill
//             width: 45%
//     .skill
//         +media(510px)
//             width: 45%
//             +margin(10px 0 30px 0)
//         text-align: left
//         width: 100%
//         min-width: 210px
//         +padding(0 30px)
//         +margin(10px 0 0 0)
//         border: 1px solid $base-border-color
//         +border-top-radius(3px)
//         +border-bottom-radius(3px)
//         +display(flex)
//         +flex-direction(row)
//         +flex-wrap(no-wrap)
//         +align-items(center)
//         +justify-content(space-between)
//         .skill-icon
//             font-size: 60px
//         .skill-level
//             width: 90px
//             +transition(color 0.3s ease-in-out, margin-top 0.3s ease-in-out 0.3s)
//             text-align: center
//             &:hover
//                 margin-top: -20px
//                 .skill-tooltip
//                     opacity: 1
//                     filter: alpha(opacity=1)
//             .skill-tooltip
//                 +display(block)
//                 position: absolute
//                 width: 90px
//                 text-align: center
//                 opacity: 0
//                 filter: alpha(opacity=0)
//                 +transition(opacity 0.3s ease-in-out 0.3s)
//
//
// footer.site-footer
//     border-top: 1px solid $base-border-color
//     margin: 30px 0 0 0
//     padding: 30px
//
//     .footer-wrapper
//         text-align: center
//         max-width: 600px
//         margin: 0 auto
//         +display(flex)
//         +flex-direction(column)
//         +justify-content(center)
//     .footer-contact
//         margin-bottom: 30px
//         ul li
//             +display(inline-block)
//
// section.resume
//     margin: 0 auto 0
//     padding-bottom: 0
//
// .timeline
//     position: relative
//     text-align: left
//     padding-left: 30px
//     &:before
//         position: absolute
//         content: ""
//         background-color: $header-link-hover-color
//         top: 0
//         width: 3px
//         height: 100%
//         margin-left: -30px
//     li.timeline-entry
//         position: relative
//         margin-bottom: 30px
//         &:hover
//             .timeline-entry-icon
//                 background-color: $base-link-hover
//                 +transform(rotate(90deg))
//             .timeline-entry-time
//                 color: $base-link-hover
//         .timeline-entry-icon
//             background-color: $base-link-color
//             outline: 0px solid $base-background-color
//             +display(block)
//             position: absolute
//             top: 0
//             left: -39px
//             width: 21px
//             height: 21px
//             border: 6px solid $base-background-color
//             +border-top-radius(3px)
//             +border-bottom-radius(3px)
//             +transform(rotate(45deg))
//             +transition(transform 0.3s ease-in-out, background-color 0.3s ease-in-out 0.3s)
// div.timeline-entry
//     h2
//         margin-bottom: 6px
//     .timeline-entry-time
//         color: $base-link-color
//         +transition(color 0.3s ease-in-out 0.3s)
//     .timeline-entry-details
//         margin-bottom: 0
//     .timeline-entry-info
//         color: $header-link-color
//         font-size: 0.9em
//         padding: 0 30px
//         ul
//             font-size: 0.9em
//             color: $header-link-color
//             li
//                 list-style: disc
//
// .project-area
//     +display(flex)
//     +justify-content(center)
//     +flex-direction(column)
//     +flex-wrap(no-wrap)
//     margin-bottom: 30px
//     .project
//         width: 100%
//         min-width: 210px
//         +padding(10px 30px)
//         +margin(10px 0 0 0)
//         border: 1px solid $base-border-color
//         +border-top-radius(3px)
//         +border-bottom-radius(3px)
//
// .project-overview
//     div
//         text-align: left
//     h2
//         margin: 30px auto 10px
//
// .technology-stack
//     +display(flex)
//     +justify-content(space-between)
//     +flex-direction(row)
//     +flex-wrap(wrap)
//     +media(510px)
//         +justify-content(center)
//     li
//         +display(flex)
//         +justify-content(center)
//         +align-items(center)
//         +flex-direction(row)
//         +flex-wrap(no-wrap)
//         width: 45%
//         min-height: 60px
//         +media(510px)
//             width: 150px
//         +padding(3px 10px)
//         +margin(3px 3px 0 0)
//         border: 1px solid $base-border-color
//         +border-top-radius(3px)
//         +border-bottom-radius(3px)
//         &:last-child
//             +margin(3px 0 0 0)
//         div
//             +padding(0 6px)
//         img
//             max-width: 30px
//             max-height: 30px
//             height: 30px
//             height: +padding(3px)
//
// .back-button
//     +position(absolute)
//     a
//         +transition(color 0.3s ease-in-out)
//         span
//             opacity: 0
//             filter: alpha(opacity=0)
//             +transition(opacity 0.3s ease-in-out 0.3s)
