a
    color: $orange-lighter
    +transition(color 0.3s ease-in-out)
    &:hover
        color: $orange

.button
    +padding(6px 9px)
    border: 1px solid $orange-lighter
    border-radius: 3px
    &:hover
        border-color: $orange

hr
    border-color: $gray-lightest

.highlight
    margin: 0 0 12px
    border-radius: 3px
    background-color: transparentize($gray-lightest, .75)
    border: 1px solid $gray-lightest

.highlighter-rouge
    pre
        padding: 12px
        overflow: auto
        font-size: 1rem
        line-height: 1.45
    code
        display: inline
        max-width: initial
        padding: 0
        margin: 0
        overflow: initial
        line-height: inherit
        word-wrap: normal
        background-color: transparent
        border: 0
        &:before,
        &:after
            content: none
