html, :root
  font-size: 100%
  line-height: 1.375
  @media (min-width: $media-breakpoint-medium)
    font-size: 112.5%
    line-height: 1.5

body
  font-family: $font-base
  background-color: $white
  color: $blue-dark
  font-size: 1rem
  line-height: $vertical-rythm-small
  @media (min-width: $media-breakpoint-medium)
    line-height: $vertical-rythm-medium
    background-color: change-color($blue-base, $alpha: .1)

main
  margin-top: $vertical-rythm-small
  padding-left: 1rem
  padding-right: 1rem
  @media (min-width: $media-breakpoint-medium)
    max-width: 680px
    margin: 0 auto
    margin-top: $vertical-rythm-medium * 2
    padding-left: 0
    padding-right: 0
  @media (min-width: $media-breakpoint-medium)
    max-width: 720px

hr
  border: 0
  border: 1px solid change-color($blue-dark, $alpha: .2)
  margin: calc(#{$vertical-rythm-small * 2} - 1px) 1.5rem
  @media (min-width: $media-breakpoint-medium)
    margin: calc(#{$vertical-rythm-medium * 2} - 1px) 1.5rem
  @media (min-width: $media-breakpoint-big)
    margin-left: 0
    margin-right: 0


/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
