a
    color: $orange-lighter
    +transition(color 0.3s ease-in-out)
    &:hover
        color: $orange

.button
    +padding(6px 9px)
    border: 1px solid $orange-lighter
    border-radius: 3px
    &:hover
        border-color: $orange
