<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="page-wrapper">
      {% include header.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <div class="gridlover-grid" style="display: none; position: absolute; left: 0px; right: 0px; pointer-events: none; user-select: none; top: 0px; height: 400%; background: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px) left top / 22px 22px;"></div>
    <div class="gridlover-grid" style="display: none; position: absolute; left: 0px; right: 0px; pointer-events: none; user-select: none; top: 0px; height: 800%; background: linear-gradient(rgba(0, 119, 179, 0.2) 1px, transparent 1px) left top / 27px 27px;"></div>
  </body>

</html>
